@import "tailwindcss";

@theme {
  /* Light Theme */
  --color-light-bg: #f8f9fa;
  --color-light-bg-secondary: #edeeef;
  --color-light-text: #212529;
  --color-light-text-muted: #6b6f72;
  --color-light-border: #d3d5d6;
  --color-light-primary: #4da3ff;
  --color-light-secondary: #ff8f32;
  --color-light-success: #41d3a0;
  --color-light-error: #ef5350;
  --color-light-warning: #ffb347;

  /* Dark Theme */
  --color-dark-bg: #212529;
  --color-dark-bg-secondary: #2b3035;
  --color-dark-text: #f8f9fa;
  --color-dark-text-muted: #a6abad;
  --color-dark-border: #3c4146;
  --color-dark-primary: #0074d9;
  --color-dark-secondary: #e85d04;
  --color-dark-success: #2ca58d;
  --color-dark-error: #d62828;
  --color-dark-warning: #f4a261;

  --font-nunito: "Nunito", sans-serif;
}

body {
  @apply font-nunito scroll-smooth;
}
